.navbar{
    background: transparent;
    backdrop-filter: blur(5px);
}
.navbar .navbar-brand{
   color: rgb(56, 12, 12);
   font-weight: bolder;
   font-size:30px;
}
.navbar .nav-link{
    color: rgb(56, 12, 12);
    font-size: large;
    font-weight: bold;
}

.logo-image{
    width: 50px;  
}

                    